body {
    background-color: #f0f8ff;
}

.header {
    background-color: rgb(59 87 129) !important;;
    color: white;
}

.logo {
    width: 50px;
}

.weather-map {
    min-height: 300px;
}

.controls button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.week-forecast .col {
    min-height: 100px;
    background-color: #e9ecef;
    border-radius: 5px;
    padding: 10px;
}

.current-weather i {
    font-size: 2rem; /* Dimensiunea iconiței */
    color: #989a9c; /* Culoarea iconiței */
}
